<style type="text/css">
   /* ▼タブ機能の掲載領域の装飾(※必須ではありません) */
   .tabbox { margin: 0px; padding: 1em; background-color: #f8f8ff; }

   /* ▼タブ機能を制御するラジオボタン(非表示にする) */
   .tabbox input { display: none; }

   /* ▼タブ(共通装飾＋非選択状態の装飾) */
   .tab {
      display: inline-block;
      border-width: 1px 1px 0px 1px;
      border-style: solid;
      border-color: black;
      border-radius: 0.75em 0.75em 0px 0px;
      padding: 0.75em 1em;
      color: black;
      background-color: #e0e0e0;
      font-weight: bold;
   }

   /* ▼タブにマウスポインタが載った際の装飾 */
   .tab:hover {
      background-color: #ccffcc;
      color: green;
      cursor: pointer;
   }

   /* ▼チェックが入っているラジオボタンの隣にあるタブの装飾(＝選択状態のタブ) */
   input:checked + .tab {
      color: red;
      background-color: #ffffcc;
      position: relative;
      z-index: 10;
   }

   /* ▼タブの中身(共通装飾＋非選択状態の装飾) */
   .tabcontent {
      display: none;
      border: 1px solid black;
      margin-top: -1px;
      padding: 1em;
      position: relative;
      z-index: 0;
      background-color: #ffffcc;
   }

   /* ▼チェックが入っているラジオボタンに対応するタブの中身を表示する */
   #tabcheck1:checked ~ #tabcontent1 { display: block; }
   #tabcheck2:checked ~ #tabcontent2 { display: block; }
   #tabcheck3:checked ~ #tabcontent3 { display: block; }
</style>
    .diet_form {
        background: #ff;
        padding: 10px 30px;
    }
    form dl dt {
        width: 200px;
        height: 40px;
        padding: 10px 0;
        line-height: 40px;
        float: left;
    }
    form dl dd {
        padding: 10px 0;
        margin: 0;
    }
    .box {
        box-sizing: border-box;
        width: 100px !important;
        height: 40px !important;
        margin: 0 !important;
        padding: 0 10px !important;
    }
    .calc-btn {
        width: 80px;
        height: 30px;
        border: 1px solid #333;
    }
    .calc-btn:hover {
        cursor: pointer;
    }

body{
    text-align: left;
    width: 200%;
}

#title{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

#header a{
    margin-top: 80px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

header p{
    line-height: 1.4rem;
    margin-bottom: 10px;
}

#url{
    color: blue;
}

a{
    text-decoration: none; 
    color: black;  
}

#header{
    margin-bottom: 20px;
}

#header button{
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: solid 1px ;
}



#header button:first-child{
    margin-left: 0px;
}

#answerForm{
    margin-bottom: 40px;
    margin-top: 40px;
}

#hintBox{
    margin-bottom:100px;
    height: 300px;
}

#hintText{
    font-size: 20px;
}


#quizImg{
    width: 95%;
    margin-top: 0px;
}

#hintBox button{
    margin-left: 30px;
    border-radius: 6px;
    border: solid 1px ;
}


#hintText{
    margin: 40px auto;
}

main{
    position: relative;
    width: 100%;
}

#answerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#answerContainer button{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #f8ffdb;
    border-radius: 6px;
    border: solid 1px ;
}

#answerContainer2 button{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #f8ffdb;
    border-radius: 6px;
    border: solid 1px ;
}

#iframeContainer {
    position: relative;
    width: 90%;
    height: 500px;
    overflow: hidden; 
    margin: 20px auto;
    background-color: #fff; 
    border: 1px solid #ccc; 
}

#gForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}body{
    text-align: center;
    width: 100%;
}

#title{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

#header a{
    margin-top: 80px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

header p{
    line-height: 1.4rem;
    margin-bottom: 10px;
}

#url{
    color: blue;
}

a{
    text-decoration: none; 
    color: black;  
}

#header{
    margin-bottom: 20px;
}

#header button{
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: solid 1px ;
}



#header button:first-child{
    margin-left: 0px;
}

#answerForm{
    margin-bottom: 40px;
    margin-top: 40px;
}

#hintBox{
    margin-bottom:100px;
    height: 300px;
}

#hintText{
    font-size: 20px;
}


#quizImg{
    width: 95%;
    margin-top: 0px;
}

#hintBox button{
    margin-left: 30px;
    border-radius: 6px;
    border: solid 1px ;
}


#hintText{
    margin: 40px auto;
}

main{
    position: relative;
    width: 100%;
}

#answerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#answerContainer button{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #f8ffdb;
    border-radius: 6px;
    border: solid 1px ;
}

#answerContainer2 button{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #f8ffdb;
    border-radius: 6px;
    border: solid 1px ;
}

#iframeContainer {
    position: relative;
    width: 90%;
    height: 500px;
    overflow: hidden; 
    margin: 20px auto;
    background-color: #fff; 
    border: 1px solid #ccc; 
}

#gForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
